<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit | <%= filename %></title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="bg-zinc-900 min-h-screen w-full text-white">
    <a href="/" class="text-lg mt-4"><i class="mt-4 mx-4 text-2xl fa-solid fa-square-left fa-bounce" style="color: #2197ff;"></i>Home</a>
    <div class="mx-auto mt-8 word-wrap">
    <form action="/edit" method="post">
        <div class="bg-red-600 flex items-center justify-center">
        <input class="text-zinc-400 mx-auto mt-12 p-2 w-5/6 rounded-md bg-zinc-600 pr-6" type="text" placeholder="Previous file name..." name="oldValue" value="<%= filename %>" readonly>
            <i class="mr-4 text-xl fa-solid fa-lock" style="color: #FFD43B;"></i>
        </div>
        <input class="mx-auto block mt-4 p-2 w-5/6 text-black rounded-md" type="text" placeholder="New file name..." name="newValue"/>
        <input class="mx-auto block mt-6 bg-yellow-600 text-white p-3 rounded-md text-md font-medium" type="submit" value="Update File">
    </form>
    </div>
</div>
</body>
</html>